<div id="sidebar">
      <img
        src="/img/nat-headshot-3.jpg"
        alt="Nathaniel Robertson"
        class="profile-img"
      />
      <h2>Nathaniel Robertson</h2>
      <p class="blurb">
        Web professional, progressive, political junkie, obsessive
        learner/researcher, and Apple nerd.
      </p>
      <p>Email: <a href="mailto:nat@nrobertson.net">nat@nrobertson.net</a></p>
      <p>Twitter: <a href="https://twitter.com/robertson_n">@robertson_n</a></p>
      <p>
        <a href="https://www.linkedin.com/in/nathaniel-robertson-54381564/"
          >LinkedIn</a
        >
      </p>
      <p class="last-updated">Last updated February 21, 2021</p>
    </div>