---
title: Nathaniel Robertson
layout: 'base.njk'
---

      <p>
        Hi, I'm Nathaniel Robertson (usually I go by Nat) and I'm located in
        Walla Walla, WA, known for premium red wine and sweet onions. In a
        previous life, I dabbled with the local wine industry, getting an
        associates's degree from <a href="https://www.wwcc.edu/">WWCC</a>, doing
        several seasonal internships, and spending a few summers at a tasting
        room and being a wine tour driver.
      </p>

      <p>
        These days I'm at
        <a href="https://www.portlandwebdesign.com/">Portland Web Design</a>,
        supporting our customers and team members. Over the past three years,
        I've learned about WordPress, server administration, Unix tools, and
        many other tidbits.
      </p>

      <p>
        <!-- <img
          src="/img/nat-portland-summer-2019-pwd.jpg"
          alt="Image of Nathaniel smiling in front of a brick wall"
        /> -->
      </p>

      <p>My other interests include:</p>

      <ul>
        <li>
          Politics — Always glued to political news and trying to take a high
          level, behind the scenes view of it.
        </li>
        <li>
          Research — on anything that interests me. Learning how to DIY stuff
          around the house. Ludicrous amounts of product research to get the
          best bang for my buck.
        </li>
        <li>iPhone, macOS, and other Apple junk and rumors.</li>
        <li>
          Listening to Spotify, from Weezer, to the The Glitch Mob, to
          Radiohead.
        </li>
      </ul>